USE [master]
GO
/****** Object:  Database [CustomerServicesPortal]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE DATABASE [CustomerServicesPortal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerServicesPortal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CustomerServicesPortal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerServicesPortal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CustomerServicesPortal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerServicesPortal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerServicesPortal]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[AssetName] [nvarchar](100) NOT NULL,
	[AssetType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentRequests]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[DocumentName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DocumentRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketComments]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[CommentText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TicketComments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[AssetId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[TicketStatusId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketStatus]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TicketStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketTimelines]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketTimelines](
	[TimelineId] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[ActivityDescription] [nvarchar](max) NOT NULL,
	[LogDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TicketTimelines] PRIMARY KEY CLUSTERED 
(
	[TimelineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260126124041_AddUsers', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260126132800_Add the rest of the tables and modified relationsips', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260126133452_AddStoredProcedures', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([AssetId], [ClientId], [AssetName], [AssetType]) VALUES (2, 2, N'Unit 402 Tower B', N'Real Estate')
INSERT [dbo].[Assets] ([AssetId], [ClientId], [AssetName], [AssetType]) VALUES (6, 2, N'Test Asset', N'Vehicle')
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [UserId], [FullName], [Email], [CreatedAt]) VALUES (2, 3, N'Marc Racille Arenga', N'arenga.marc.racille@gmail.com', CAST(N'2026-01-27T22:39:41.9371835' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentRequests] ON 

INSERT [dbo].[DocumentRequests] ([RequestId], [TicketId], [DocumentName], [FilePath], [RequestedAt]) VALUES (2, 4, N'sink.jpg', N'/uploads/46702d11-6053-41a8-a551-c2f2d2d38517_sink.jpg', CAST(N'2026-01-27T22:43:18.6224802' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DocumentRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketComments] ON 

INSERT [dbo].[TicketComments] ([CommentId], [TicketId], [CommentText], [CreatedAt], [UserId]) VALUES (5, 4, N'Clogged', CAST(N'2026-01-27T22:43:34.6517811' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[TicketComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketId], [AssetId], [ClientId], [TicketStatusId], [Title], [Description], [CreatedAt]) VALUES (4, 2, 2, 8, N'Problem #1', N'Sink problem', CAST(N'2026-01-27T22:43:18.6100000' AS DateTime2))
INSERT [dbo].[Tickets] ([TicketId], [AssetId], [ClientId], [TicketStatusId], [Title], [Description], [CreatedAt]) VALUES (9, 6, 2, 8, N'Test Ticket', N'Test Desc', CAST(N'2026-01-28T22:13:44.8833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketStatus] ON 

INSERT [dbo].[TicketStatus] ([StatusId], [StatusName]) VALUES (5, N'Open')
INSERT [dbo].[TicketStatus] ([StatusId], [StatusName]) VALUES (6, N'InProgress')
INSERT [dbo].[TicketStatus] ([StatusId], [StatusName]) VALUES (7, N'Resolved')
SET IDENTITY_INSERT [dbo].[TicketStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketTimelines] ON 

INSERT [dbo].[TicketTimelines] ([TimelineId], [TicketId], [ActivityDescription], [LogDate]) VALUES (9, 4, N'Ticket Created', CAST(N'2026-01-27T22:43:18.6100000' AS DateTime2))
INSERT [dbo].[TicketTimelines] ([TimelineId], [TicketId], [ActivityDescription], [LogDate]) VALUES (11, 4, N'Status updated to InProgress by admin', CAST(N'2026-01-27T22:46:16.8366667' AS DateTime2))
INSERT [dbo].[TicketTimelines] ([TimelineId], [TicketId], [ActivityDescription], [LogDate]) VALUES (12, 4, N'Status updated to Resolved by admin', CAST(N'2026-01-27T23:12:22.0933333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TicketTimelines] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role]) VALUES (1, N'admin', N'PrP+ZrMeO00Q+nC1ytSccRIpSvauTkdqHEBRVdRaoSE=', N'Admin')
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role]) VALUES (3, N'Marc123', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', N'Client')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Assets_ClientId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Assets_ClientId] ON [dbo].[Assets]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clients_UserId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clients_UserId] ON [dbo].[Clients]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentRequests_TicketId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_DocumentRequests_TicketId] ON [dbo].[DocumentRequests]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketComments_TicketId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketComments_TicketId] ON [dbo].[TicketComments]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_AssetId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_AssetId] ON [dbo].[Tickets]
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_ClientId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_ClientId] ON [dbo].[Tickets]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_TicketStatusId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_TicketStatusId] ON [dbo].[Tickets]
(
	[TicketStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketTimelines_TicketId]    Script Date: 1/28/2026 10:17:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketTimelines_TicketId] ON [dbo].[TicketTimelines]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Clients_ClientId]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Users_UserId]
GO
ALTER TABLE [dbo].[DocumentRequests]  WITH CHECK ADD  CONSTRAINT [FK_DocumentRequests_Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentRequests] CHECK CONSTRAINT [FK_DocumentRequests_Tickets_TicketId]
GO
ALTER TABLE [dbo].[TicketComments]  WITH CHECK ADD  CONSTRAINT [FK_TicketComments_Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketComments] CHECK CONSTRAINT [FK_TicketComments_Tickets_TicketId]
GO
ALTER TABLE [dbo].[TicketComments]  WITH CHECK ADD  CONSTRAINT [FK_TicketComments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TicketComments] CHECK CONSTRAINT [FK_TicketComments_Users]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Assets_AssetId] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([AssetId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Assets_AssetId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Clients_ClientId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_TicketStatus_TicketStatusId] FOREIGN KEY([TicketStatusId])
REFERENCES [dbo].[TicketStatus] ([StatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_TicketStatus_TicketStatusId]
GO
ALTER TABLE [dbo].[TicketTimelines]  WITH CHECK ADD  CONSTRAINT [FK_TicketTimelines_Tickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketTimelines] CHECK CONSTRAINT [FK_TicketTimelines_Tickets_TicketId]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTicket]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_CreateTicket]
                    @ClientId INT,
                    @AssetId INT,
                    @Title NVARCHAR(200),
                    @Description NVARCHAR(MAX)
                AS
                BEGIN
                    SET NOCOUNT ON;

                    -- FIX: Look for string 'Open'
                    DECLARE @DefaultStatusId INT;
                    SELECT @DefaultStatusId = StatusId FROM TicketStatus WHERE StatusName = 'Open';

                    DECLARE @NewTicketId INT;

                    INSERT INTO Tickets (ClientId, AssetId, TicketStatusId, Title, Description, CreatedAt)
                    VALUES (@ClientId, @AssetId, @DefaultStatusId, @Title, @Description, GETDATE());

                    SET @NewTicketId = SCOPE_IDENTITY();

                    INSERT INTO TicketTimelines (TicketId, ActivityDescription, LogDate)
                    VALUES (@NewTicketId, 'Ticket Created', GETDATE());

                    SELECT @NewTicketId AS TicketId;
                END
            
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientTickets]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE PROCEDURE [dbo].[sp_GetClientTickets]
                    @ClientId INT
                AS
                BEGIN
                    SET NOCOUNT ON;

                    SELECT 
                        t.TicketId,
                        t.Title,
                        t.Description,
                        t.CreatedAt,
                        s.StatusName, -- This will now return 'Open'/'Closed' directly!
                        a.AssetName
                    FROM Tickets t
                    INNER JOIN Assets a ON t.AssetId = a.AssetId
                    INNER JOIN TicketStatus s ON t.TicketStatusId = s.StatusId
                    WHERE t.ClientId = @ClientId
                    ORDER BY t.CreatedAt DESC;
                END
            
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTicketStatus]    Script Date: 1/28/2026 10:17:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateTicketStatus]
    @TicketId INT,
    @NewStatusId INT,
    @UpdaterName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Perform the update
    UPDATE Tickets
    SET TicketStatusId = @NewStatusId
    WHERE TicketId = @TicketId;

    -- 2. Fetch the Status Name for the log
    DECLARE @StatusName NVARCHAR(50);
    SELECT @StatusName = StatusName 
    FROM TicketStatus 
    WHERE StatusId = @NewStatusId;

    -- 3. Create a professional log message
    -- If for some reason the name is missing, we fallback to the ID
    DECLARE @LogMessage NVARCHAR(200);
    SET @LogMessage = 'Status updated to ' + ISNULL(@StatusName, 'ID ' + CAST(@NewStatusId AS NVARCHAR(10))) + ' by ' + @UpdaterName;

    -- 4. Insert into Timelines
    INSERT INTO TicketTimelines (TicketId, ActivityDescription, LogDate)
    VALUES (@TicketId, @LogMessage, GETDATE());
END
GO
USE [master]
GO
